// main: ../main.scss

// There are three views – these two are hidden by default
#newResultView,
#newPlayerView {
  display: none;
}

.ranking-table {
  // Hide nationality and win / loss on mobile
  th:nth-child(n+3):nth-child(-n+5),
  td:nth-child(n+3):nth-child(-n+5) {
    display: none;
  }

  th:nth-child(n+4),
  td:nth-child(n+4) {
    text-align: right;
  }

  @include for-tablet-portrait-up {
    th:nth-child(n+3):nth-child(-n+5),
    td:nth-child(n+3):nth-child(-n+5) {
      display: table-cell;
    }
  };
}
