footer {
  max-width: 100%;
  padding: 70px 0;

  .flexbox {
    align-items: flex-start;
  }

  .flex-half {
    @include for-tablet-portrait-up {
      max-width: 43%;
    };
  }

  p {
    color: $alt-text-color;
    @include for-tablet-portrait-up {
      max-width: 38rem;
    };
  }

  .quote-text {
    font-style: italic;
  }

  .credits {
    @include for-tablet-portrait-up {
      max-width: 275px;
    };
  }
}
